{%- assign page_paths = site.header_pages | default: default_paths -%}

<header class="menu">
  <img src="{{ site.baseurl }}/assets/icon-wilson.png" alt="Your Image Alt Text" class="header-image">
    <div class="menu-content">
      <div class="page_title">{{ page.title }}</div>
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.permalink_name | replace: " ", "-" | replace: "/", "" }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
