<!DOCTYPE html>
<html>

{% include head.html %}

<body class="{{ site.font-size }}">

  {% include header.html %}

  <div class="ads-container">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6137997699663725"
       crossorigin="anonymous"></script>
    <!-- vertical-design -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6137997699663725"
       data-ad-slot="4903838703"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
    <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  
  <div class="content-wrapper">
    {{ content }}
  </div>

  {% include footer.html %}

</body>

</html>
